<head>
  <link rel="stylesheet" href="/stylesheets/places.css">
  <link rel="stylesheet" href="/stylesheets/trips.css">
</head>

<main>
  <section class="outer-box">
    <section class="trip_header">
      <% unless trip_info['image_url'].nil? || trip_info['image_url'] == "" %>
          <img src="<%= trip_info['image_url'] %>" alt="" class="trip-img-background"> 
      <% else %>
          <img src="https://images.unsplash.com/photo-1603729287771-e03b8ac6ebf5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3271&q=80" alt="" class="trip-img-background"> 
      <% end %>

      <h1><%= trip_info['trip_name']%></h1>  
      <h3><%= Date.parse(trip_info['from_date']).strftime('%d %b %Y') %> <strong> - </strong> <%= Date.parse( trip_info['to_date'] ).strftime('%d %b %Y') %> </h3>
    </section>

    <section class="title-content">
      <h2>Places to visit</h2>
      <a href="/<%= trip_info['id']%>/places"><button>Add Places</button> </a>
    </section>
    <hr>
      <% unless places.nil? %> 

        <section class="places scroll-down">
          <ul>
            <% places.each do |place|%>
              <li>
                <div class="place">

                  <div class="options">
                    <button class="options_button">&#65049;</button>
                    <div class="actions">
                      <form action="/<%= trip_info['id']%>/delete" method="POST">
                        <input type="hidden" name='_method' value="delete"> 
                        <input type="hidden" name='place_id' value="<%= place['id'] %>"> 
                        <input type="submit" value="Remove">
                      </form>
                    </div>
                  </div>

                  <div class="image">
                    <!--
                    <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%= place["photo_reference"]%>&key=<%= ENV['GOOGLE_API_KEY']%>"/>
                    -->            
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQhFDpQMX6wrLn0Nedf5k7k9tLB6eBaztgmBx7XYDose0pDv7lAfCTvb988suo_YKHgT4WXS5MvadTfMHlLDmsAhg" style="width:100%"/>
                  </div>
                  
                  <section class="info">
                    <h2 class='title'><%= place['place_name']%></h2>
                    <p class=starts>  
                      <% place['rating'].to_i.times do %>
                        <i class="fa-solid fa-star"></i>
                      <% end %>
                      <% if place['rating'].to_f % 1 >= 0.5  %>
                        <i class="fa-solid fa-star-half-stroke"></i>
                      <% end %>
                      <% (5 - place['rating'].to_f.round()).times do %>
                        <i class="fa-regular fa-star"></i>
                      <% end %>
                    </p>
                    <p><%= place['rating']%> stars out of ( <%= place['user_ratings_total'].to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> ) reviews. </p>
                  </section>
                  
                </div>
              </li>
            <% end %>      
          </ul>
        </section>
      <% end %>
  </section>  
</main>