<head>
  <link rel="stylesheet" href="/stylesheets/trips.css">
  <link rel="stylesheet" href="/stylesheets/edit.css">
</head>

<main>
  <section class="outer-box">
    <section class="title-content">
      <h2>Edit Trip: <%= trip_info['trip_name'] %> </h2>
    </section>
    <hr>

    <section class="edit-content">
      
      <form action="/trips/<%= trip_info['id']%>" method= "POST">
        <input type="hidden" name="_method" value="put">
      
        <label for=""><p class="text">Trip Name </p> </label>
        
        <input type="text" name="name" value="<%= trip_info['trip_name']%>">
        <label for=""><p class="text">Start Trip </p> </label>
        <input type="date" name="from_date" value="<%= trip_info['from_date'] %>">
        <label for=""><p class="text">End Trip </p> </label>
        <input type="date" name="to_date" value="<%= trip_info['to_date'] %>">
        <label for=""><p class="text">Cover Photo URL </p> </label>
        <input type="text" name="image_url" value="<%= trip_info['image_url'] %>">
        <br>
        <button>Save</button>
      </form>

      <div class="image">
        <% unless trip_info['image_url'].nil? || trip_info['image_url'] = "" %>
          <img src=<%= trip_info['image_url'] %> alt=""> 
        <% end %>
      </div>

    </section>
  </section>
</main>